@import "../node_modules/bootstrap/scss/bootstrap";

.container {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    .card {
        width: 20rem;
        height: 29rem;

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: start;

        }
    }
}